<!-- your_app_name/templates/person_form.html -->

{% load crispy_forms_tags %}
{% load static %}
<link href="{% static 'css/form_style.css' %}" rel="stylesheet">
<div class="modal fade" id="changeModal" tabindex="-1" aria-labelledby="changeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" id="postit2" style="background-color: #ffe28c;">
        <div class="modal-header border-0">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                  {{ form.name|as_crispy_field }}
                </div>
                <div class="row">
                  <div class="col">
                    {{ form.date|as_crispy_field }}
                  </div>
                  <div class="col">
                    {{ form.color|as_crispy_field }}
                  </div>
                </div>
                <div class="mb-3">
                  {{ form.description|as_crispy_field }}
                </div>
            </form>
        </div>
        <div class="modal-footer border-0">
            <button type="button" id="close" class="btn btn-outline-danger" data-bs-dismiss="modal">Erase</button>
            <button type="button" id="submit" onclick="change_note()" class="btn btn-outline-primary">Change Note</button></div>
        </div>
      </div>
    </div>
    <script src="{% static 'js/change.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
</div>